<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--alitestforisv01 密码Test1234,./-->
    <!--测试账号来源于阿里巴巴公共账号-->
    <add key="AppKey" value="7406027"/>
    <add key="SecretKey" value="cXrmA5hdPtU"/>
    <add key="ServerHost" value="gw.open.1688.com"/>
  </appSettings>
</configuration>
